.work.block
  .c.work__row
    .work__form
      include ../form/form
    .work__content
      .work__title.h1 Мы возьмем всю работу на себя
      .work__items
        .work__col
          .work__item
            .work__label 1
            |Оставьте заявку
          .work__item
            .work__label 2
            | Диспетчер позвонит для#[br]уточнения заказа
          .work__item
            .work__label 3
            |Отправим заказ на#[br]следующий день
        .work__col
          .work__item
            .work__label 4
            |Получите трек-номер по смс,#[br]чтобы отслеживать товар
          .work__item
            .work__label 5
            |Проверьте товар в отделении#[br]заказа
          .work__item
            .work__label 6
            |Оплата заказа после осмотра#[br]посылки


