.head
  .c.head__row
    .head__left
      img.head__img(src=require('src/modules/head/img/head-img.jpg'))
      h1.head__title Пороги и арки на все марки автомобилей
      .head__text
        p Отправка со склада на следующий день в любую точку РФ
        ul
          li 6 лет на рынке
          li более 500 партнеров в РФ

    .head__right
      include ../form/form
