.why.block
  .c
    .why__title.h1 Для чего меняют пороги
    .why__items
      .why__item
        .why__icon: +the_svg(require('src/img/why_01.sprite.svg'))
        .why__label Внешний вид
        .why__text Приведете свой автомобиль#[br]в прежнее состояние и избавитесь от#[br]ржавчины
      .why__item
        .why__icon: +the_svg(require('src/img/why_02.sprite.svg'))
        .why__label Безопасность
        .why__text Новые пороги могут более качественно#[br]защитить от мелких повреждений и ДТП
      .why__item
        .why__icon: +the_svg(require('src/img/why_03.sprite.svg'))
        .why__label Продлить жизнь
        .why__text Каждый владелец любит свой#[br]автомобиль, поэтому с новыми порогами#[br]вы сможете продлить ему жизнь

