.form
  .form__head
    .form__title Заказать обратный звонок
    .form__text Оставьте номер телефона — мы перезвоним вам в течение 5 минут
  .form__row
    .input: input(placeholder='Телефон')

  button.btn.btn--block ОТПРАВИТЬ ЗАЯВКУ

