.form
  .form__head
    .form__title Заявка на сотрудничество
    .form__text Для вас будут действовать специальные гибкие условия по постановке запчасте и работе с клиентами
  .form__row
    .input: input(placeholder='Имя')
  .form__row
    .input: input(placeholder='Телефон')
  .form__row
    .input: input(placeholder='Электронная почта')
  .form__row
    .input: textarea(placeholder='Ваше предложение')

  button.btn.btn--block ОСТАВИТЬ ЗАЯВКУ

