extends ../pug/_layout

block body
  include ../modules/head/head
  include ../modules/catalog/catalog
  include ../modules/advantages/advantages
  include ../modules/why/why
  include ../modules/examples/examples
  include ../modules/spare/spare
  include ../modules/work/work
  include ../modules/testimonials/testimonials
  include ../modules/about/about
  include ../modules/partners/partners
  include ../modules/info/info
