.advantages.block
  .c
    .advantages__title.h1 Преимущества для вас
    .advantages__items
      .advantages__item
        .advantages__icon: +the_svg(require('src/img/advantages_01.sprite.svg'))
        .advantages__text Собственное#[br]производство
      .advantages__item
        .advantages__icon: +the_svg(require('src/img/advantages_02.sprite.svg'))
        .advantages__text Работаем без#[br]предоплаты
      .advantages__item
        .advantages__icon: +the_svg(require('src/img/advantages_03.sprite.svg'))
        .advantages__text Толщина деталей#[br]0.8, 1, 1.5 мм.
      .advantages__item
        .advantages__icon: +the_svg(require('src/img/advantages_04.sprite.svg'))
        .advantages__text Техническая#[br]поддержка на всех#[br]этапах
      .advantages__item
        .advantages__icon: +the_svg(require('src/img/advantages_05.sprite.svg'))
        .advantages__text Отправка товара#[br]на следующий#[br]день после заявки
      .advantages__item
        .advantages__icon: +the_svg(require('src/img/advantages_06.sprite.svg'))
        .advantages__text Подбор#[br]автосервиса рядом#[br]с вами

    .advantages__button: .btn.btn--block(data-micromodal-trigger="callback-popup") ОБРАТНЫЙ ЗВОНОК
    .advantages__note Перезвоним через 3 минуты

