.about.block
  .c.about__row
    .about__left
    .about__right
      .content
        .h1 О нас
        p ВСЕ ПОРОГИ — это быстрорастущая компания с собственным производством, доставкой по РФ и странам СНГ. Тысячи клиентов и партнеров, которые нам доверяют.
        p Мы придерживаемся стогих стандартов качества наших деталей, а также предоставляем высокий сервис и постоянную поддержку для наших клиентов во время заказа и после.
        .h3 Если у вас остались вопросы, мы готовы ответить
        .about__footer
          .about__contact
            .about__label Для соединения с диспетчером,#[br]нажмите добавочный номер 1
            a.about__phone(href='#') 8 800 505-75-58
          .about__btn: button.btn(data-micromodal-trigger="callback-popup") БЕСПЛАТНЫЙ ЗВОНОК

