footer.footer
  .c
    .footer__row
      .footer__left
        .footer__logo: +the_svg(require('src/img/logo.sprite.svg'))
        .footer__title Кузовные пороги для всех моделей автомобилей
      .footer__center
        .footer__cta Вступайте в наши сообщества:
        .footer__socials.socials
          a(href='#'): img(src=require('src/img/sprites/vk.png'))
          a(href='#'): img(src=require('src/img/sprites/whatsapp.png'))
          a(href='#'): img(src=require('src/img/sprites/instagram.png'))

        a(href='#') Политика конфиденциальности

      .footer__right
        |Бесплатно со всех номеров РФ
        a.footer__phone(href='#') 8 800 505-84-06
        |Прием заказов с 9 до 21
    .footer__copyright Общество с ограниченной ответственностью «Все Пороги». ИНН 7804621970 ОГРН 1187847176582
